{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "CLIENT_A_CODE": "ENTER_CLIENT_A_CODE_HERE",
    "CLIENT_B_CODE": "ENTER_CLIENT_B_CODE_HERE"
  },
  "Host": {
    "CORS": "http://localhost:3000",
    "CORS.Credentials": true
  }
}