# Copy this file to terraform.tfvars and replace the placeholder with your app's URL 
# (note that the url should not have a trailing slash: /):
# This variable is used to configure the CORS policy for the Azure Function App.
frontend_url = "https://your-vercel-app-url.vercel.app"
